<!DOCTYPE html>
<html lang="en">

<head>
  <title>:: RR Dental Lab Pvt.Ltd - Order Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image" href="images/favicon.png">
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <script src="Bootstrap/js/jquery-1.12.0.min.js"></script>
  <script src="Bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <style>
    .uleftActive,
    .urightActive,
    .bleftActive,
    .brightActive {
      background-color: #34abf4;
    }
    .implant {
      min-width: 18px !important
    }
    #implantList > li {
      gap: 5px !important;
    }
    .form-control {
      margin-left: 9px;
      margin-bottom: 9px;
  }

    .time {
      margin-top: 25px;
    }

    #loading {
      display: none;
      z-index: 999;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      border: 3px solid rgb(204, 201, 201);
      border-radius: 50%;
      border-top-color: navy;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @media screen and (max-width : 760px) {
      .order {
        border-left: 2px solid white;
      }

      .main {
        width: 100% !important;
      }

      .listItems .list-2:first-child ul, .listItems-2 .list-2:first-child ul {
        border-right: 1px solid white;
      }

      .input_box {
        margin-left: 0px !important;
        padding-left: 0px !important;
      }

      .listItems, .listItems-2 {
        display: flex;
        flex-direction :column
      }

      .list-2 {
        flex: 50%;
      }

      .upload_image {
        margin-left: 10px !important;
      }
      
      .input_dots {
        margin-left: 20%;
      }
    }
  </style>
</head>

<body class="body_margin">
  <div id="loading"></div>
  <form id="updateOrderForm">
    <div class="container-fluid main">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-5 col-xs-12 logo">
            <img src="images/rr-logo.svg" class="img-responsive">
            <div class="address">
              <p>53/A, H,No 8-3-191/57, 2<sup>nd</sup> Floor,</p>
              <p>Lane Opp. Sai Darsini Tiffins, Vengala Rao Nagar, Hyd-38</p>
              <p>+91 9912339955, 040-23816156</p>
              <p class="email-id"><span>rrdental@rrdentallab.com</span> <span>www.rrdentallab.com</span> </p>
            </div>
          </div>
          <div class="col-sm-7 col-xs-12 order">
            <input type="text" hidden value="<%= order._id %>">
            <div class="order-no">
              <span>Order No.</span>
              <input type="text" id="order" class="inpur-leftmove" value="<%= order.orderId %>" disabled>
            </div>
            <div class="col-xs-12 gapmargin_top2">
              <div class="row">
                <div class="col-sm-9 col-xs-12">
                  <div class="row dr_details right-gap">
                    <label>Dr.Name </label><input class='input_dots' type="text" value="<%= order.doctorName %>" name="doctorName"
                      id="doctorName" required>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-12 ">
                  <div class="row dr_details">
                    <label>Date </label><input class='input_dots' type="date" value="<%= order.date %>" name="date" id="date" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 gapmargin_top2">
              <div class="row">
                <div class="col-sm-7 col-xs-12 ">
                  <div class="row dr_details right-gap">
                    <label>Clinic Name </label><input class='input_dots' type="text" value="<%= order.clinicName %>" name="clinicName"
                      id="clinicName" required>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <div class="row dr_details">
                    <label>Patient </label><input class='input_dots' type="text" value="<%= order.patientName %>" name="patientName"
                      id="patientName" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 gapmargin_top2">
              <div class="row">
                <div class="col-sm-5 col-xs-12 ">
                  <div class="row dr_details right-gap">
                    <label>Contact No </label><input class='input_dots' type="text" value="<%= order.contactNumber %>" name="contactNumber"
                      id="contactNumber" required>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 ">
                  <div class="row dr_details right-gap">
                    <label>Expected Date </label><input class='input_dots' type="date" value="<%= order.expectedDate%>" name="expectedDate"
                      id="expectedDate" required>
                  </div>
                </div>
              </div>
              <div class="row time">
                <div class="col-sm-12 col-xs-12">
                  <div class="row dr_details right-gap">
                    <label>Time </label>
                    <div class="col-sm-3"><select name="hrs" id="hrs" class="form-control" required>
                        <option value="">Hrs</option>
                      </select></div>
                    <div class="col-sm-3"><select name="min" id="min" class="form-control" required>
                        <option value="">Mins</option>
                      </select></div>
                    <div class="col-sm-3"><select name="ampm" id="ampm" class="form-control" required>
                        <option value="">AM or PM</option>
                        <option value="am">A.M</option>
                        <option value="pm">P.M</option>
                      </select></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid main">
      <div class="col-xs-12  ">
        <div class="row flex-box">
          <div class="col-sm-3 col-xs-12 bdr-rt">
            <div class="row zirconia">
              <span>ZIRCONIA</span>
            </div>
            <div class="row list">
              <ol id="zirconiaList">
                <li><span>1. <img src="images/ident-logo.svg"> Classic </span><input type="checkbox" class='zirconia'
                    id="zirconiaClassic" name="zirconiaClassic"></li>
                <li><span>2. <img src="images/ident-logo.svg"> Premium </span><input type="checkbox" class='zirconia'
                    id="zirconiaPremium" name="zirconiaPremium"></li>
                <li><span>3. <img src="images/ident-logo.svg"> Platinum </span><input type="checkbox" class='zirconia'
                    id="zirconiaPlatinum" name="zirconiaPlatinum"></li>
                <li><span>4. <img src="images/ident-logo.svg"> Monolithic </span><input type="checkbox" class='zirconia'
                    id="zirconiaMonolithic" name="zirconiaMonolithic"></li>
                <li><span>5. <img src="images/ident-logo.svg"> Hollywood Smile </span><input type="checkbox"
                    class='zirconia' id="zirconiaHollywood" name="zirconiaHollywood"></li>
                <li><span>6. e-max CAD </span><input type="checkbox" id="zirconiaEmax" name="zirconiaEmax"
                    class='zirconia'></li>
                <li><span>7. Titanium Crown & Bridge </span><input type="checkbox" id="zirconiaTitanium"
                    class='zirconia' name="zirconiaTitanium"></li>
                <li><span>8. Peek Crown & Bridge </span><input type="checkbox" id="zirconiaPeek" class='zirconia'
                    name="zirconiaPeek">
                </li>
              </ol>
              <div class="col-xs-12 gapmargin details">
                <textarea class="area-text area-101" id="zirconiaInfo" name="zirconiaInfo"
                  placeholder="Add more info"></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-3 bdr-rt prosthesis_padding">
            <div class="row zirconia">
              <span>IMPLANT PROSTHESIS</span>
            </div>
            <div class="row list">
              <ol id="implantList">
                <li><span>1. Screw Retained DMLS - Crown & Bridge </span><input type="checkbox" class="implant"
                  id="screwRetainedDMLS" name="screwRetainedDMLS"></li>
              <li><span>2. Screw Retained Zirconia - Crown & Bridge </span><input type="checkbox" class="implant"
                  id="screwRetainedZirconia" name="screwRetainedZirconia"></li>
              <li><span>3. Screw Retained DMLS Bar with PMMA </span><input type="checkbox" class="implant"
                  id="screwRetainedDMLBar" name="screwRetainedDMLBar"></li>
              <li><span>4. <img src="images/ident-logo.svg"> Prosthesis (DMLS Framework with Zirconia Individual Crowns or Composite Full Crowns) </span><input type="checkbox" class="implant"
                  id="prosthesiesDMLS" name="prosthesiesDMLS"></li>
              <li><span>5. <img src="images/ident-logo.svg"> Prosthesis (Titanium Framework with Zirconia Individual Crowns or Composite Full Crowns) </span><input type="checkbox"
                  class="implant" id="prosthesisTitanium" name="prosthesisTitanium"></li>
              <li><span>6. Screw Retained PAULO MALO Frame Work Titanium  with Individual Crowns  </span><input type="checkbox" class="implant" id="screwRetainedPM"
                  name="screwRetainedPM"></li>
              <li><span>7. Screw Retained PEEK (DMLS Framework, PEEK with Composite) </span><input type="checkbox" class="implant" id="screwRetainedPeek"
                  name="screwRetainedPeek"></li>
              </ol>
              <div class="col-xs-12 gapmargin details">
                <textarea class="area-text area-101" id="implantInfo" name="implantInfo"
                  placeholder="Add more info"></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-4 bdr-rt">
            <div class="row">
              <div class=" col-xs-12 zirconia">
                <span>MLS</span>
              </div>
              <div class="col-xs-12 list border-btm">
                <ol class="btm-mr">
                  <li>1. MLS Classic<input type="checkbox" id="mlsClassic" name="mlsClassic"></li>
                  <li>2. MLS Premium <input type="checkbox" id="mlsPremium" name="mlsPremium"></li>
                </ol>
              </div>
              <div class="col-xs-12  padding_remove">
                <div class="listItems">
                  <div class="col-sm-6 list-2">
                    <ul id="upperLeft">
                      <li>8</li>
                      <li>7</li>
                      <li>6</li>
                      <li>5</li>
                      <li>4</li>
                      <li>3</li>
                      <li>2</li>
                      <li>1</li>
                    </ul>
                    <div class="row">
                      <div class="col-sm-7">
                        <input type="text" id="uleftI" class="form-control input_box" disabled>
                      </div>
                      <div class="col-sm-4">
                        <button class="btn btn-primary" id="uleftB" type="button">Clear</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 list-2">
                    <ul id="upperRight">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                    </ul>
                    <div class="row">
                      <div class="col-sm-7">
                        <input type="text" id="urightI" class="form-control input_box" disabled>
                      </div>
                      <div class="col-sm-4">
                        <button id="urightB" class="btn btn-primary" type="button">Clear</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="listItems-2">
                  <div class="col-sm-6 list-2">
                    <ul id="bottomLeft">
                      <li>8</li>
                      <li>7</li>
                      <li>6</li>
                      <li>5</li>
                      <li>4</li>
                      <li>3</li>
                      <li>2</li>
                      <li>1</li>
                    </ul>
                    <div class="row">
                      <div class="col-sm-7">
                        <input type="text" id="bleftI" class="form-control input_box" disabled>
                      </div>
                      <div class="col-sm-4">
                        <button id="bleftB" class="btn btn-primary" type="button">Clear</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 list-2">
                    <ul id="bottomRight">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                    </ul>
                    <div class="row">
                      <div class="col-sm-7">
                        <input type="text" id="bRightI" class="form-control input_box" disabled>
                      </div>
                      <div class="col-sm-4">
                        <button id="bRightB" class="btn btn-primary" type="button">Clear</button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-xs-12 gapmargin">
                <div class="col-xs-12 ">
                  <div class="row dr_details">
                    <label>Info </label><input type="text" id="mlsInfo" name="mlsInfo">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 pdr-0">
            <div class=" zirconia">
              <span>SHADE</span>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-sm-3 col-xs-3">
                  <img src="images/shade.png" width="60" class="img-responsive shadeimage">
                </div>
                <div class="col-sm-9 col-xs-9">
                  <div class="row">
                    <div class="row">
                      <textarea class="area-text" id="shade" name="shade"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <br>
                <div class="row bdr-tp">
                  <br>
                  <div class="col-sm-12 col-xs-12">
                    <button class="primarybtn primary-2" type="button">Enclosed with the case</button>
                  </div>
                  <div class="col-xs-12">
                    <br>
                    <ul class="Impression">
                      <li><span>Impression Tray</span><input type="checkbox" id="tray" name="tray"></li>
                      <li><span>Byte</span><input type="checkbox" id="byte" name="byte"></li>
                    </ul>
                  </div>
                  <div class="col-xs-12">
                    <textarea class="area-text area-3" id="enclose" name="enclose"
                      placeholder="Add more info"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 bdr-tp">
                <div class="form-group upload_image">
                  <label for="exampleInputFile">Upload Images</label>
                  <input type="file" id="imageUpload" name="imageUpload" multiple>
                </div>
                <p class="para">Please fill in all the details for better service</p>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class=" col-xs-12 footer-mrgin">
          <div class="row footer">
            <button class="btn btn-primary btn-outline-light" type="submit">Update Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/update.js"></script>
<script>
  $(document).ready(function () {
    for (let i = 1; i <= 12; i++) {
      $('#hrs')
        .append($('<option>', { value: i })
          .text(i));
    }
    let digit
    for (let i = 0; i <= 59; i++) {
      if (i.toString().length === 1) {
        digit = "0" + i
      } else {
        digit = i
      }
      $('#min')
        .append($('<option>', { value: digit })
          .text(digit))
    }
    const orderId = '<%=order._id%>'
    $("#updateOrderForm").attr("style", "opacity : 0.5");
    $("#loading").attr('style', "display : block");
    renderOrder(orderId);
  });
</script>

</html>